*{
    border: 0;
    margin: 0;
    padding: 0;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gainsboro;
    width: 100%;
    height: 100px;
}
.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    width: 25%;
    height: 75px;
}
.link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 5%;
    color: black;
    background-color: gainsboro;
    width: 20%;
    height: 50px;
}
.titulo{
    margin: 10px;
}
#form_cadastro{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 300px;
    background-color: gainsboro;
}
.form_cadastro{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}
.container{
    display: flex;
    flex-direction: row;
}
.barra_lateral{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 750px;
    border-right: 1px black solid;
}
.lista_lateral{
    display: flex;
    height: 300px;
    width: 100px;
    flex-direction: column;
    justify-content: space-around;
    

}
.secao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 750px;
}
.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: gainsboro;
}
#botao_cadastrar{
    height: 25px;
}